@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #E2E7EC;
  padding: 0;
}

body > * {
  padding: 15px;
}

.header {
  width: 100%;
  background-color: #afc0ee;
  display: flex;
}
.header .main-link {
  text-decoration: none;
  color: initial;
}
.header .header-title {
  margin-bottom: 0;
}
.header .home-button {
  padding: 3px 10px;
  border: none;
}

.main-container {
  min-height: calc(100vh - 114px);
}
.main-container .main-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .main-navbar .section-title {
  font-weight: 500;
  font-size: 20px;
}
.main-container .vehicles-container {
  margin-top: 15px;
}
.main-container .vehicles-container .cards-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: inherit;
}
.main-container .vehicles-container .cards-container .card {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 325px;
}
.main-container .vehicles-container .cards-container .card .card-header .card-title {
  font-size: 18px;
}
.main-container .vehicles-container .cards-container .card .card-body {
  padding: 15px;
}
.main-container .vehicles-container .cards-container .card .card-body .text-header {
  margin-bottom: 10px;
}
.main-container .vehicles-container .cards-container .card .card-body .title {
  font-weight: 500;
}
.main-container .vehicles-container .cards-container .card .card-body .img-car {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
}
.main-container .vehicles-container .cards-container .card .card-body .descripcion-car {
  margin-bottom: 0;
}
.main-container .vehicles-container .cards-container .card .card-body .text-group {
  margin-bottom: 5px;
}
.main-container .vehicles-container .cards-container .card .card-body .badge {
  font-size: 14px;
  font-weight: 450;
}
.main-container .vehicles-container .cards-container .card .card-footer {
  display: flex;
}
.main-container .vehicles-container .cards-container .card .card-footer .btn {
  position: relative;
}
.main-container .vehicles-container .cards-container .card .card-footer #btnEditar:hover .label-editar {
  display: initial;
}
.main-container .vehicles-container .cards-container .card .card-footer #btnEliminar:hover .label-eliminar {
  display: initial;
}
.main-container .vehicles-container .cards-container .card .card-footer .floatLabel {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 99;
  background-color: rgb(110, 110, 110);
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.15s ease-in;
}
.main-container .vehicles-container .cards-container .card .card-footer .label-editar {
  display: none;
}

.footer {
  background-color: #cdd9e9;
}
.footer .footer-icon {
  text-decoration: none;
  color: initial;
}/*# sourceMappingURL=index.css.map */